# Copy to /opt/DGC_IMS/.env and update values before starting service

ADMIN_USERNAME=admin
ADMIN_SALT=aa13741a62bcfd7c
ADMIN_PASSWORD_HASH=d6fe4d498577806c6e44b0fd9276d18b171cb272b44fc4a35a58b634e2a8524a
SECRET_KEY=admin123
DATABASE_URL=sqlite:////opt/DGC_IMS/dgc.db
